-e .[toml]

# Testing
pytest
pytest-cov
types-toml

# Docs
sphinx
sphinx_rtd_theme

# Quality
check-manifest
check-oldies
isort[pyproject]
mypy
pylint
pylint_strict_informational
twine

# Release
zest.releaser[recommended]
